* {
    box-sizing: border-box;
}

body#mainpage{
    margin: 0;
    padding: 0;
    /*overflow-x: hidden;*/
    background-color: #202020;
    font-size: 12px;
    font-family: Arial;
    color:white;
}


ul#navbar li.logo {
    background: url('../fotos/logo-redimensionado.png') no-repeat ;
    background-position: 7px center;
    
}

/*UTILIZAR ALOMEJOR SHAPE PARA PONER ARTE DI SOGNARE ACORDE CON LA FOTO
ul#navbar li#blogo {
        shape-outside: polygon;

    display: flex;
    align-items: center;
    font-size: 12px;
}*/


nav {
    padding-top: 20px;
}


nav ul{
    list-style-type: none;
    padding:0;
    margin-bottom: 25px;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
}
nav li{
    text-align:center;
    margin-bottom:0.5rem;
    display: inline-block;        /*este es el comando para ponerlo horizontal*/
}
nav a{
    color:white;
    font-family: 'Moon Dance', cursive;
    font-size:1.5rem;
    text-decoration: none;
    display: block;
    padding:0.5rem;
}
nav a:hover{
    text-decoration: underline;
    padding-bottom: 10px;
}


section ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

h2{ 
    margin: 0;
    padding: 0;
}

figure {
    margin: 0;
    padding: 0;
}


figure {
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: column nowrap;
    position:relative;
    opacity: 1;
}
figcaption {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: white;
    padding: 1rem;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 0.3s ease-out;
}
figcaption p{
    font-size: 15px;
}

figcaption:hover {
    cursor: pointer;
    opacity:1 ;
}

figcaption.one {
    background-color: #4e2f1b;
}
figcaption.two {
    background-color: #88CDBB;
}
figcaption.three {
    background-color: #B9B3A0;
}
figcaption.four {
    background-color: #8D84BB;
}
figcaption.five {
    background-color: #D85A39;
}
figcaption.six {
    background-color: #E0CBB4;
}
figcaption.seven {
    background-color: #625B37;
}
figcaption.eight {
    background-color: #3495BE;
}
figcaption.nine {
    background-color: #B5CECF;
}
figcaption.ten {
    background-color: #BDB8ED;
}
figcaption.eleven {
    background-color: #F1E99B;
}
figcaption.twelve {
    background-color: #F7A1F9;
}
figcaption.thirteen {
    background-color: #39883E;
}
figcaption.fourteen {
    background-color: #BDCDD2;
}
figcaption.fifteen {
    background-color: #221C13;
}
figcaption.sixteen {
    background-color: #028F74;
}
figcaption.seventeen {
    background-color: #EED39D;
}
figcaption.eighteen {
    background-color: #BD815E;
}
figcaption.nineteen {
    background-color: #E8E8E8;
}
figcaption.twenty {
    background-color: #27C320;
}



.row1{
    display: grid;
    grid-template-columns: repeat(5, 303px);
    grid-template-rows: repeat(2, 303px);

}

.row2{
    display: grid;
    grid-template-columns: repeat(5, 303px);
    grid-template-rows: repeat(1, 303px);

}

.img1 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}





.img3 {
    grid-column: 3/4;
    grid-row: 2/3;
}

.img2 {
    grid-column: 3/4;
    grid-row: 1/2;
}


.img4 {
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 3;
}
.img5 {
    grid-column: 1/3;
    grid-row: 1/3;
}

.img6 {
    grid-column: 3/4;
    grid-row: 1/2;
}

.img7 {
    grid-column: 3/4;
    grid-row: 2/3;
}
.img8 {
    grid-column: 4/5;
    grid-row: 1/3;
}
.img9 {
    grid-column: 5/6;
    grid-row: 1/2;
}
.img10{
    grid-column: 5/6;
    grid-row: 2/3;
}
.img14 {
    grid-column: 3/5;
    grid-row: 1/2;
}
.img13 {
    grid-column: 4/5;
    grid-row: 1/2;
}

.img11{
    grid-column: 5/6;
    grid-row: 1/2;
}
.img12{
    grid-column:4/6;
    grid-row: 2/3;
}

/* AFTER CLICK STYLES */
.clickcontainer{
    display: flex;
    
} 
.img1click{
    width: 608ox;
    height: aut608px;
    background: url("../fotos/1.png");
    text-align: center;
    align-items: center;
}



